*{
    margin: 0%;
    padding: 0%;
    background-color:orange;
    color: rebeccapurple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu_item{
    display: inline;
    margin-right: 1em;
    margin-left: 1em;
    text-decoration: none;
    color: green;
}

a:link{
    color: green;
}

a:visited{
    color: black;
}

a:hover{
    color: yellow;
}

a:active{
    color: blue;
}

#menu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#title_screen{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.underlined{
    text-decoration: underline;
}

.sec{
    margin: 2em;
}

.sec_title{
    font-size: 200%;
    text-decoration: underline;
    margin-bottom: 0.25em;
}

.def_term{
    text-decoration: underline;
    margin-top: 1em;
}

.description{
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.description_link{
    margin-top: 0.5em;
    margin-left: 2em;
    margin-bottom: 0.5em;
}

.my_images{
    float: right;
    clear: both;
    margin-right: 0%;
}

.image_block{
    height: 620px;
}

.center_figcaption{
    text-align: center;
    font-weight: 600;
}

#endlinks{
    margin: 2em;
    text-align: center;
    font-size: 150%;
}

.ending_links{
    text-decoration: none;
    color: darkblue;
}

.important{
    color:black;
    background-color: lightblue;
}
